[Desktop Entry]
Author=Michael Aulbach
AuthorEmail=MichaelAulbach@gmx.de
Description=Minimalistic kmail header
FileName=header.html
Name=gray-cloud
ThemeVersion=0.1
